<div>        
<div>
        <img src="{{ templ.imgBase64 }}" class="outpng">
</div>
        <div>
            Best matches:
            {% for match in matches %}
            <div class="resdiv">
                    <img class="resimg" src="{{ match.imgBase64 }}">
                    {% if match.desc %}
                    {% if 'sumer' in match.desc %}
                    <div class="resdesc">Sumerowa interpretacja: {{ match.desc['sumer'] }}</div>
                    {% endif %}
                    {% if 'akad' in match.desc %}
                    <div class="resdec">Akadyjska interpretacja: {{ match.desc['akad'] }}</div>
                    {% endif %}
                    {% endif %}
            </div>
            {% endfor %}
        </div>
</div>
